:root {
  --color-black: #000000;
  --color-primery: #34547a;
  --color-secondary: #727272;
  --color-gray: #eeeff1;
  --color-white: #ffffff;

  --line-height-lg: 1.625;
  --line-height-sm: 1.11111;


  --font-size: 16px;
  --font-family: 'Roboto', sans-serif;

  --conteiner-primary: 1110px;
  --conteiner-small: 540px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size)
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, var(--conteiner-primary));
  margin-inline: auto;
}

.container--sm {
  width: min(100% - 40px, var(--conteiner-small));
}

.header {
  background-color: var(--color-gray);
  padding-top: 76px;
  padding-bottom: 142px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navbar {
  margin-bottom: 144px;
}

.navbar__list {
  list-style: none;
  display: flex;
  gap: 43px;
}

.navbar__link {
  line-height: var(--line-height-lg);
  letter-spacing: 0.1em;
  color: var(--color-black);
}

.navbar__link--active {
  font-weight: 500;
  color: var(--color-primery);
}

.content {
  max-width: var(--conteiner-small);
}

.content__title {
  margin: 0 0 34px;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: var(--color-black);
}

.content_description {
  line-height: var(--line-height-lg);
  color: var(--color-secondary);
  margin-bottom: 57px;
}

.contetn__link {
  width: 225px;
  min-height: 65px;
  background-color: var(--color-primery);

  line-height: var(--line-height-lg);
  letter-spacing: 0.1em;
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.main {}

.about {}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  margin-bottom: 50px;
}

.about__description {
  line-height: var(--line-height-lg);
  text-align: center;

  color: var(--color-secondary);
}

.experience {
  background-color: var(--color-primery);
  color: var(--color-white);
  padding: 100px 0 100px;
}

.experience__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.experience-item {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  align-items: center;
}

.experience-item__number {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;

  color: var(--color-white);
}

.experience-text {
  line-height: 26px;
}

.process {
  padding: 100px 0;
  background-color: #f9f9f9;
}

.process__container {
  margin-bottom: 50px;
}

.process__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  margin-bottom: 50px;
}

.process__description {
  line-height: var(--line-height-lg);
  text-align: center;

  color: var(--color-secondary);
}

.process_video {
  width: 100%;
  height: 600px;
  border: 0;
}

.footer {
  padding: 50px 0;
  color: var(--color-white);
  background-color: var(--color-primery);
}

.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

.footer_copyright {
  font-size: 13px;
  line-height: 21px;
}